canvas {
  width: 100%;
  position: fixed;
  top: 50%;
  z-index: -1;
  left: 0;
  transform: translateY(-50%);
  background: linear-gradient(
    135deg,
    rgba(2, 14, 50, 1) 0%,
    rgb(3, 24, 60) 45%,
    rgb(3, 40, 72) 70%,
    rgba(5, 145, 160, 1) 120%
  );
}
