body {
  background: url('Images/background.jpg') no-repeat;
  background-size: cover;
/*  background: rgba(2,14,50,1);
  background: -moz-linear-gradient(left, rgba(2,14,50,1) 0%, rgba(3,25,60,1) 45%, rgba(5,145,160,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,14,50,1)), color-stop(45%, rgba(3,25,60,1)), color-stop(100%, rgba(5,145,160,1)));
  background: -webkit-linear-gradient(left, rgba(2,14,50,1) 0%, rgba(3,25,60,1) 45%, rgba(5,145,160,1) 100%);
  background: -o-linear-gradient(left, rgba(2,14,50,1) 0%, rgba(3,25,60,1) 45%, rgba(5,145,160,1) 100%);
  background: -ms-linear-gradient(left, rgba(2,14,50,1) 0%, rgba(3,25,60,1) 45%, rgba(5,145,160,1) 100%);
  background: linear-gradient(to right, rgba(2,14,50,1) 0%, rgba(3,25,60,1) 45%, rgba(5,145,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020e32', endColorstr='#0591a0', GradientType=1 );*/
  color: #fff;
}

.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
    font-size: 18px;
    width: 1200px;
    margin: 30px auto 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
